<div class="sidenav">
    <div class="logo">
        <a routerLink="/app/dashboard" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/images/logo3.png" />
            </div>
        </a>
        <a href="/" class="simple-text logo-normal mt-1">
            E-Clinic
        </a>
    </div>

    <ul class="nav">
        <li>
            <a routerLink="/app/dashboard">
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="text">DashBoard</span>
            </a>
        </li>

        <li>
            <a routerLink="/app/reserve">
                <mat-icon class="icon">today</mat-icon>
                <span class="text">Reserve a date</span>
            </a>
        </li>

        <li>
            <a routerLink="/app/appointment">
                <mat-icon class="icon">control_point</mat-icon>
                <span class="text">Meet your doctor</span>
            </a>
        </li>

        <li>
            <a routerLink="/app/schedule">
                <mat-icon class="icon">description</mat-icon>
                <span class="text">Clinic schedule</span>
            </a>
        </li>

        <li>
            <a routerLink="/app/pharmacy">
                <mat-icon class="icon">local_pharmacy</mat-icon>
                <span class="text">Online pharmacy service</span>
            </a>
        </li>

        <li>
            <a routerLink="/app/profile">
                <mat-icon class="icon">person</mat-icon>
                <span class="text">Profile</span>
            </a>
        </li>

    </ul>

</div>

<!-- <mat-nav-list>
    
</mat-nav-list> -->