<div style="height: 600px">
    <div class="bg">
        <p style="font-size: xx-large; color: white;font-weight: 400; font-family: initial;" @fade>Reservation Details </p>
    </div>
    <div class="col-10 mx-auto" style="margin-top: 20px;">
        <mat-card class="card1">
            <form fxLayout="column" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
                <div fxLayout="row" class="mt-4">
                    <div class="container col-4 col-lg-2" style="text-align: end;">
                        <h4>Patient ID</h4>
                    </div>
                    <div class="container col-8 col-lg-10" style="margin-left: 5px;">
                        <h4>{{patientId}}</h4>
                    </div>
                </div>

                <div fxLayout="row" class="mt-3">
                    <div class="container col-4 col-lg-2" style="text-align: end;">
                        <h4 style="margin-top: 9px;">Patient Name</h4>
                    </div>
                    <div class="container col-8 col-lg-10" style="margin-left: 5px;">
                        <mat-form-field appearance="outline" class="col-10">
                            <input matInput placeholder="Enter your name" formControlName="username">
                            <mat-error>You must enter your name</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" class="mt-3">
                    <div class="container col-4 col-lg-2" style="text-align: end;">
                        <h4 style="margin-top: 4px;">Clinic Type</h4>
                    </div>
                    <div class="container col-8 col-lg-10" style="margin-left: 5px;">
                        <select id="type" formControlName="type" style="padding: 6px; border-radius: 5px;">
                            <option *ngFor="let c of clinicTypes" [ngValue]="c">{{ c }}</option>
                        </select>
                    </div>
                </div>

                <div fxLayout="row" class="mt-3">
                    <div class="container col-4 col-lg-2" style="text-align: end;">
                        <h4 style="margin-top: 9px;">Next Date</h4>
                    </div>
                    <div class="container col-lg-10" style="margin-left: 5px;">
                        <div fxLayout="row">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker" formControlName="nextDate" placeholder="Choose a date" [disabled]="disable">
                                <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="!disable"></mat-datepicker-toggle>
                                <mat-datepicker #picker [disabled]="!disable"></mat-datepicker>
                                <mat-error>You must enter date</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="row" class="mt-3">
                    <div class="container col-4 col-lg-2" style="text-align: end;">
                        <h4 style="margin-top: 4px;">Planning Date</h4>
                    </div>
                    <div class="container col-8 col-lg-10" style="margin-left: 5px;">
                        <select id="planningDate" formControlName="planningDate" style="padding: 6px; border-radius: 5px;">
                            <option *ngFor="let d of dates" [ngValue]="d">{{ d }}</option>
                        </select>
                    </div>
                </div>

                <div fxLayout="row" class="mt-3">
                    <div class="container col-4 col-lg-2" style="text-align: end;">
                        <h4 style="margin-top: 10px;">Note</h4>
                    </div>
                    <div class="container col-8 col-lg-10" style="margin-left: 5px;">
                        <mat-form-field appearance="outline">
                            <textarea matInput formControlName="note" rows="3" cols="50"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="text-center">
                    <button mat-raised-button type="submit" class="col-4 submit">Submit</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>