table {
    width: 100%;
}

.mat-column-date {
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-time {
    border-right: 1px solid currentColor;
    text-align: center;
}

.mat-column-room_number {
    border-right: 1px solid currentColor;
    text-align: center;
}

.mat-column-consultant {
    border-right: 1px solid currentColor;
    text-align: center;
}

.mat-column-telephone {
    border-right: 1px solid currentColor;
    text-align: center;
}